html {
    height: 100%;
}

body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#wrapper {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-rows: 150px 100px auto;
    grid-template-columns: auto 200px 200px 200px 200px 200px;
    grid-gap: 10px;
}

#title {
    font-family: pip;
    color: rgb(114, 13, 7);
    text-shadow: black 5px 5px 5px ;
    font-size: 60px;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    text-align: center;
    position: relative;
}

#hp {
    position: absolute;
    top: 175px;
    right: 100px;
    letter-spacing: 5px;

}

#qa {
    background-color: rgba(10,10,10,0.5);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    padding: 30px;
    display: grid; /*change to none in production*/
}

#inst {
    text-align: center;
    color: gold;
    font-size: 40px;
    background-color: rgba(10,10,10,0.5);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    padding: 30px;
    font-family: wizard;
    display: none; /* Remove this in production */
}

#institle {
    margin-bottom: 30px;
}

#inst ul {
    font-size: 20px;
    text-align: left;
    list-style-type: disc;
    padding: 20px 40px;
}

button {
    background-color: transparent;
    border: none;
    color: #B29135;
    font-size: 40px;
    font-family: wizard;
}

#choices {
    color: red;
}

#test {
    color: purple;
}

@font-face {
    font-family: potter;
    src: url(../harryp.TTF);
}

@font-face {
    font-family: pip;
    src: url(../PARSELTO.TTF);
}

@font-face {
    font-family: wizard;
    src: url(../Hog.ttf)
}